name: Check PR Title

on:
  pull_request:
    branches: [main]
    paths:
      - 'src/helpers/check-pr-title.ts'

jobs:
  test:
    name: PR Title Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: ./
        with:
          helper:
            check-pr-title
            # pattern: 'my-regex-pattern' (optional: pattern must be wrapped in single quotes)
