name: Check Merge Safety

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths:
      - 'src/helpers/check-merge-safety.ts'

jobs:
  test:
    name: Merge Safety
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: ./
        with:
          helper: check-merge-safety
          override_filter_paths: |
            package.json
            package-lock.json
