name: Open Pull Request

on:
  push:
    branches:
      - create-pull-request

permissions: write-all

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: ./
        with:
          helper: create-pr
          title: New PR
          body: Implemented new feature. Added tests.
