name: Get Merge Queue Position

on:
  pull_request:
    branches: [main]
    paths:
      - 'src/helpers/get-merge-queue-position.ts'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: ./
        with:
          helper: get-merge-queue-position
          sha: ${{ github.sha }}
