name: Is User Core Member

on:
  pull_request:
    branches: [main]
    paths:
      - 'src/helpers/is-user-core-member.ts'

jobs:
  test:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout
      uses: actions/checkout@v6

    - uses: ./
      id: is-user-core-member
      with:
        helper: is-user-core-member
        pull_number: ${{ github.event.pull_request.number }}
        login: ${{ github.actor }} # Optional, defaults to the GitHub actor
        github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

    - run: echo ${{ steps.is-user-core-member.outputs.output }}
