name: Is User In Team

on:
  pull_request:
    branches: [main]
    paths:
      - 'src/helpers/is-user-in-team.ts'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: ./
        id: is-user-in-team
        with:
          helper: is-user-in-team
          login: ${{ github.actor }}
          team: github-helpers-committers
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }} # must have read:org permission

      - run: echo ${{ steps.is-user-in-team.outputs.output }}
